# profiles: test,local,dev,stg,prod

spring:
  application:
    name: main-service
  activemq:
    queues:
      trainer-workload:
        get-one-request: trainer.workload.get_one.request.queue
        get-one-response: trainer.workload.get_one.response.queue
        get-all-request: trainer.workload.get_all.request.queue
        get-all-response: trainer.workload.get_all.response.queue
        update-request: trainer.workload.update.request.queue
  jms:
    template:
      receive-timeout: 1000 # 1 second

storage:
  training-types:
    path: static/training-types.json

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: always

auth:
  jwt:
    secret-key: ${JWT_SECRET_KEY:}
    access-token-expiration: 900 # 15 minutes
    refresh-token-expiration: 86400 # 24 hours

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %+5level ${PID} --- [${spring.application.name}] [%+15.15thread]  [%6.6X{traceId}] %-40.40logger{39} : %msg%n"

server:
  port: 8080

---

spring:
  config:
    activate:
      on-profile: local,dev,stg,prod
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres-db:5432/gym_crm
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      url: redis://:${REDIS_PASSWORD}@redis-db:6379
  activemq:
    broker-url: tcp://activemq-broker:61616
    user: ${ACTIVEMQ_USER}
    password: ${ACTIVEMQ_PASSWORD}

---

spring:
  config:
    activate:
      on-profile: standalone
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:gym_crm

---

spring:
  config:
    activate:
      on-profile: local,test

storage:
  trainees:
    path: static/small-sample/trainees.json
  trainers:
    path: static/small-sample/trainers.json
  trainings:
    path: static/small-sample/trainings.json

---

spring:
  config:
    activate:
      on-profile: dev,stg

storage:
  trainees:
    path: static/large-sample/trainees.json
  trainers:
    path: static/large-sample/trainers.json
  trainings:
    path: static/large-sample/trainings.json

---

spring:
  config:
    activate:
      on-profile: local,test,dev

logging:
  level:
    com:
      crm:
        gym: DEBUG
  user-credentials:
    show-username: true
    show-password: true

---

spring:
  config:
    activate:
      on-profile: stg,prod

logging:
  level:
    com:
      crm:
        gym: INFO
  user-credentials:
    show-username: true
    show-password: false