# profiles: test,local,dev,stg,prod

spring:
  application:
    name: reports-service
  activemq:
    queues:
      trainer-workload:
        get-one-request: trainer.workload.get_one.request.queue
        get-one-response: trainer.workload.get_one.response.queue
        get-all-request: trainer.workload.get_all.request.queue
        get-all-response: trainer.workload.get_all.response.queue
        update-request: trainer.workload.update.request.queue
  jms:
    listener:
      min-concurrency: 1
      max-concurrency: 2

jms:
  listener:
    reply-qos-settings:
      time-to-live: 1000 # 1 second

auth:
  jwt:
    secret-key: ${JWT_SECRET_KEY:}
    access-token-expiration: 900 # 15 minutes
    refresh-token-expiration: 86400 # 24 hours

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %+5level ${PID} --- [${spring.application.name}] [%+15.15thread]  [%6.6X{traceId}] %-40.40logger{39} : %msg%n"

server:
  port: 8081

---

spring:
  config:
    activate:
      on-profile: test,local,dev,stg,prod
  autoconfigure:
    exclude: de.flapdoodle.embed.mongo.spring.autoconfigure.EmbeddedMongoAutoConfiguration

---

spring:
  config:
    activate:
      on-profile: local,dev,stg,prod
  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo-db:27017/reports?authSource=admin
      auto-index-creation: true
  activemq:
    broker-url: tcp://activemq-broker:61616
    user: ${ACTIVEMQ_USER}
    password: ${ACTIVEMQ_PASSWORD}

---

spring:
  config:
    activate:
      on-profile: standalone
de:
  flapdoodle:
    mongodb:
      embedded:
        version: 7.0.2