spring:
  application:
    name: reports-service
  data:
    mongodb:
      database: reports
      auto-index-creation: true
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
    queues:
      trainer-workload:
        get-one-request: trainer.workload.get_one.request.queue
        get-one-response: trainer.workload.get_one.response.queue
        get-all-request: trainer.workload.get_all.request.queue
        get-all-response: trainer.workload.get_all.response.queue
        update-request: trainer.workload.update.request.queue
  jms:
    listener:
      min-concurrency: 1
      max-concurrency: 2

jms:
  listener:
    reply-qos-settings:
      time-to-live: 1000 # 1 second

auth:
  jwt:
    secret-key: bGViZCtw0fI7UBWsFlOzXeRhDoZDrT4L3oSGt8+gvA4=
    access-token-expiration: 900 # 15 minutes
    refresh-token-expiration: 86400 # 24 hours

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 7.0.2 # For local testing without docker-compose

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %+5level ${PID} --- [${spring.application.name}] [%+15.15thread]  [%6.6X{traceId}] %-40.40logger{39} : %msg%n"

server:
  port: 8081

---

spring:
  config:
    activate:
      on-profile: docker
  activemq:
    broker-url: tcp://activemq-server:61616  # For integration testing only